{{ define "main" }}
  <article>
    <h1>{{ .Title | humanize }}</h1>
    <ul class="shit-list">
      <li><a href="/">All</a> ({{.Site.RegularPages | len}})</li>
      {{ range $key, $value := .Site.Taxonomies.categories }}
        <li><a href="/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
      {{ end }}
    </ul>
    <hr>
    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
